<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/digicamp/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
		  <div class="header-row">
			<div>
			  <a title="" href="https://dd.countit.at/?kaid=markus1982">
				<img title="" alt="DD Logo" height="70" src="/digicamp/assets/images/DDLogo_negativ.png">
			  </a>
			</div>
			<div>
				<a id="a-title" href="{{ '/' | relative_url }}">
				  <h1>{{ site.title | default: site.github.repository_name }}</h1>
				</a>
				<h2>{{ site.description | default: site.github.project_tagline }}</h2>
			</div>
		</div>
        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
		
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
	<footer>
    <div class="container">
      <p><span>Powered by</span>&nbsp;
	  <a href="https://www.countit.at?kaid=markus1982">
		<img height="50" src="/digicamp/assets/images/CITLogo_neg.png" alt="CIT Logo"></p>
      </a>
    </div>
  </footer>
  </body>
</html>
